/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin: 0 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  
  /* Home Page Layout */
  .home-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .left-section {
    flex: 1;
    margin-right: 20px;
  }
  
  .right-section {
    flex: 1;
    margin-left: 20px;
  }
  
  /* Portrait Styles */
  .portrait {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 50px;
    margin-left: 150px;
    margin-bottom: 20px;
  }
  
  /* Social Icons Styles */
  .social-icons {
    margin-top: 20px;
  }
  
  .social-icons a {
    text-decoration: none;
    color: #333;
    font-size: 24px;
    margin-right: 15px;
    transition: color 0.3s ease;
  }
  
  .social-icons a:hover {
    color: #0077b5; /* LinkedIn blue */
  }
  
  .social-icons a:nth-child(2):hover {
    color: #333; /* GitHub black */
  }
  
  .social-icons a:nth-child(3):hover {
    color: #d44638; /* Email red */
  }
  
  /* Skills List Styles */
  .right-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .right-section ul li {
    background-color: #e2e2e2;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
  }
  
  /* Experience Page Styles */
  .experience {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .project {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .home-container {
      flex-direction: column;
    }
  
    .left-section, .right-section {
      margin: 0;
    }
  
    .right-section {
      margin-top: 20px;
    }
  }